.div_app_jsx{
  height: 100vh;
  width: 100vw;
}
.div_navbar{
  display: flex;
  max-width: 100vw;
  align-items: center;
  justify-content: space-between;
  background-color: palevioletred;
}
.div_navbar p{
  margin-right: 2rem;
  color: white;
}
.div_links{
  display: flex;
  gap: 1rem;
  margin-left: 2vw;
}
.div_main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
}
.imagen-pastel{
  height: 50vh;
}
.tittle{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.textArea{
  height: 20vh;
  width: 50vw;
  border-radius: 2rem;
}
.inputs{
  border-radius: 2rem;
  height: 1hv;
  width: 10vw;
}
.inputs:focus{
  border-color: palevioletred;
  outline: none;
}
.textArea:focus{
  border-color: palevioletred;
  outline: none;
}